.THIS {
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
    width:330px;
}
.THIS .img1{
     padding-top: 0px;
height: 0%;
width : 0px;

 margin: 0px 0px 0px 0px;

    }